# Enable Wi-Fi Remote API and Target
CONFIG_ESP_WIFI_REMOTE=y
CONFIG_ESP_WIFI_REMOTE_TARGET_ESP32C6=y

# Enable Hosted Transport Layer via SDIO
CONFIG_ESP_HOSTED=y
CONFIG_ESP_HOSTED_SDIO_HOST_INTERFACE=y

# Hardware SDIO Pin Mapping for ESP32-P4 -> ESP32-C6
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CMD_SLOT_1=27
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CLK_SLOT_1=28
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D0_SLOT_1=29
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D1_4BIT_BUS_SLOT_1=30
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D2_4BIT_BUS_SLOT_1=31
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D3_4BIT_BUS_SLOT_1=32
CONFIG_ESP_HOSTED_SDIO_GPIO_RESET_SLAVE=9

# P4-EYE Hardware Console Configuration (JTAG instead of UART0)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y

# Hardcode Wi-Fi Credentials for easy connection
CONFIG_ESP_WIFI_SSID="CommunityFibre69420"
CONFIG_ESP_WIFI_PASSWORD="43SketleyRoad"

# Camera OV2710 720p 25fps configuration
CONFIG_CAMERA_OV2710_MIPI_RAW10_1280X720_25FPS=y
CONFIG_CAMERA_OV2710_MIPI_IF_FORMAT_INDEX_DAFAULT=1
